language: python
sudo: false
python:
    - "2.7"

env:
    - PIPENV_IGNORE_VIRTUALENVS=False

# command to install dependencies
install: 
    - pip install pipenv --upgrade
    - pipenv install --dev

# command to run tests
script:
    - pipenv run python l2ppt.py -t

before_deploy:
      # Set up git user name and tag this commit
      - git config --local user.name "Travis"
      - git config --local user.email "travis@rochester2600.com"
      - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"

deploy:
    - provider: releases
    - api_key: $GITHUB_APIKEY
    - file: "build/2600.md"
    - skip_cleanup: true
    - on: 
      - tags: true
      - all_branches: true
