language: python
python:
    - "2.7"

# command to install dependencies
install: "make"

# command to run tests
script:
    - make ci

deploy:
    - provider: s3
    - bucket: "2600intel"
    - skip_cleanup: true
    - local_dir: build
