language: python
python:
    - "2.7"

# command to install dependencies
install: 
    - pip install pipenv
    - pipenv install --dev

# command to run tests
script:
    - pipenv run python l2ppt.py -t

deploy:
    - provider: s3
    - bucket: "2600intel"
    - access_key_id: ENV["AWS_ACCESS_KEY_ID"]
    - secret_access_key: ENV["AWS_SECRET_ACCESS_KEY"]
    - skip_cleanup: true
    - local_dir: build
    - acl: public_read
